In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report

In [17]:
train=pd.read_csv("Train.csv")
test=pd.read_csv("Test.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Train.csv'

In [3]:
X=train.iloc[:,:-2]
X.drop('EmpID',axis=1,inplace=True)
X

,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken
0,John,English,35,Male,JR85289,B.Tech,Electrical,Tier 1,7,12,2009,21,26,Married,5,SSE,Enterprise,Design,20
1,William,English,26,Male,JR87525,B.Tech,Artificial Intelligence,Tier 3,7,3,2018,15,19,Married,5,BA,MidSized,Engineering,6
2,James,English,36,Female,JR87525,PhD,Computer Science,Tier 1,6,6,2015,15,24,Single,5,SDE,MidSized,Engineering,19
3,Charles,English,29,Female,JR87525,BCA,Information Technology,Tier 2,5,6,2015,16,24,Married,5,SDE,Startup,Product,16
4,George,English,25,Male,JR70175,Dual M.Tech,Computer Science,Tier 3,8,2,2019,24,32,Married,5,SDE,Enterprise,Engineering,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13640,Perley,English,25,Female,JR87525,Dual MBA,Electrical,Tier 2,7,2,2019,30,34,Married,3,SDE,Startup,Engineering,5
13641,Randall,Native,29,Other,JR87525,Dual M.Tech,Computer Science,Tier 1,7,6,2015,22,28,Married,4,SSE,Startup,Customer Success,14
13642,Raphael,Hindi,37,Male,JR88873,M.Tech,Artificial Intelligence,Tier 1,8,11,2010,8,16,Single,4,SDE,Enterprise,Design,20
13643,Reed,Hindi,24,Male,JR87525,B.Tech,Electrical,Tier 2,4,1,2020,27,36,Single,4,SDE,MidSized,Engineering,7
13644,Shelby,English,35,Male,JR87525,B.Tech,Electrical,Tier 2,7,12,2009,17,24,Single,3,SSE,Startup,Engineering,16

In [4]:
y1=train.iloc[:,-1]
y1

0        95.40
1        67.09
2        91.26
3        72.29
4        86.34
         ...
13640    93.65
13641    52.90
13642    61.46
13643    93.64
13644    93.52
Name: FitmentPercent, Length: 13645, dtype: float64

In [5]:
y2=train.iloc[:,-2:-1]
y2

      BiasInfluentialFactor
0          YearsOfExperince
1                       NaN
2                    Gender
3                    Gender
4              DegreeBranch
...                     ...
13640                Gender
13641                   NaN
13642    CurrentCompanyType
13643              EmpScore
13644      YearsOfExperince

[13645 rows x 1 columns]

In [6]:
X_test=test.iloc[:,:]
X_test.drop('EmpID',axis=1,inplace=True)
X_test

,EmpName,LanguageOfCommunication,Age,Gender,JobProfileIDApplyingFor,HighestDegree,DegreeBranch,GraduatingInstitute,LatestDegreeCGPA,YearsOfExperince,GraduationYear,CurrentCTC,ExpectedCTC,MartialStatus,EmpScore,CurrentDesignation,CurrentCompanyType,DepartmentInCompany,TotalLeavesTaken
0,Theo,Native,35,Male,JR85289,PhD,Information Technology,Tier 2,5,5,2016,27,34,Single,4,SDE,Enterprise,Finance,18
1,Vernie,English,35,Male,JR85289,B.Tech,Information Technology,Tier 3,9,12,2009,29,33,Married,4,EM,Enterprise,Engineering,8
2,Wendell,English,28,Male,JR87525,M.Tech,Artificial Intelligence,Tier 2,9,2,2019,18,25,Married,3,SDE,Startup,Engineering,18
3,West,Hindi,37,Male,JR87525,MS,Computer Science,Tier 2,8,11,2010,7,12,Single,5,DS,Enterprise,Product,17
4,Alford,Hindi,36,Female,JR85289,PhD,Artificial Intelligence,Tier 2,7,6,2015,22,32,Married,4,SDE,Startup,Engineering,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8740,Matt,English,26,Female,JR85289,B.Tech,Computer Science,Tier 1,10,3,2018,29,38,Married,5,SDE,Startup,Design,10
8741,Salvatore,Hindi,27,Male,JR85289,MS,Electrical,Tier 1,10,1,2020,18,26,Married,4,BA,Startup,Design,19
8742,Adrian,English,27,Male,JR85289,B.Tech,Computer Science,Tier 2,7,4,2017,7,17,Married,4,SDE,Startup,Engineering,12
8743,Ambrose,English,33,Male,JR79193,MS,Electrical and Electronics,Tier 1,7,7,2014,8,18,Married,4,SSE,Enterprise,Design,10
8744,Arther,Native,26,Other,JR89890,Dual M.Tech,Information Technology,Tier 2,9,3,2018,29,34,Single,3,SDE,Startup,Engineering,10

In [7]:
X.drop('LanguageOfCommunication',axis=1,inplace=True)
X.drop('GraduatingInstitute',axis=1,inplace=True)
X.drop('Age',axis=1,inplace=True)
X.drop('MartialStatus',axis=1,inplace=True)
X.drop('CurrentCTC',axis=1,inplace=True)
X.drop('ExpectedCTC',axis=1,inplace=True)
X.drop('GraduationYear',axis=1,inplace=True)
X.drop('TotalLeavesTaken',axis=1,inplace=True)
X.drop('DepartmentInCompany',axis=1,inplace=True)
X.drop('CurrentDesignation',axis=1,inplace=True)

X.drop('EmpName',axis=1,inplace=True)
X.drop('JobProfileIDApplyingFor',axis=1,inplace=True)

In [8]:
X_test.drop('LanguageOfCommunication',axis=1,inplace=True)
X_test.drop('GraduatingInstitute',axis=1,inplace=True)
X_test.drop('Age',axis=1,inplace=True)
X_test.drop('MartialStatus',axis=1,inplace=True)
X_test.drop('CurrentCTC',axis=1,inplace=True)
X_test.drop('ExpectedCTC',axis=1,inplace=True)
X_test.drop('GraduationYear',axis=1,inplace=True)
X_test.drop('TotalLeavesTaken',axis=1,inplace=True)
X_test.drop('DepartmentInCompany',axis=1,inplace=True)
X_test.drop('CurrentDesignation',axis=1,inplace=True)

X_test.drop('EmpName',axis=1,inplace=True)
X_test.drop('JobProfileIDApplyingFor',axis=1,inplace=True)

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['Gender']=le.fit_transform(X['Gender'].astype(str))
X['HighestDegree']=le.fit_transform(X['HighestDegree'].astype(str))
X['DegreeBranch']=le.fit_transform(X['HighestDegree'].astype(str))
X['CurrentCompanyType']=le.fit_transform(X['HighestDegree'].astype(str))

#X['customer_id']=le.fit_transform(X['customer_id'].astype(str))
X

,Gender,HighestDegree,DegreeBranch,LatestDegreeCGPA,YearsOfExperince,EmpScore,CurrentCompanyType
0,1,0,0,7,12,5,0
1,1,0,0,7,3,5,0
2,0,7,7,6,6,5,7
3,0,1,1,5,6,5,1
4,1,2,2,8,2,5,2
...,...,...,...,...,...,...,...
13640,0,3,3,7,2,3,3
13641,2,2,2,7,6,4,2
13642,1,4,4,8,11,4,4
13643,1,0,0,4,1,4,0
13644,1,0,0,7,12,3,0

In [10]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X_test['Gender']=le.fit_transform(X_test['Gender'].astype(str))
X_test['HighestDegree']=le.fit_transform(X_test['HighestDegree'].astype(str))
X_test['DegreeBranch']=le.fit_transform(X_test['HighestDegree'].astype(str))
X_test['CurrentCompanyType']=le.fit_transform(X_test['HighestDegree'].astype(str))

#X['customer_id']=le.fit_transform(X['customer_id'].astype(str))
X_test

,Gender,HighestDegree,DegreeBranch,LatestDegreeCGPA,YearsOfExperince,EmpScore,CurrentCompanyType
0,1,7,7,5,5,4,7
1,1,0,0,9,12,4,0
2,1,4,4,9,2,3,4
3,1,6,6,8,11,5,6
4,0,7,7,7,6,4,7
...,...,...,...,...,...,...,...
8740,0,0,0,10,3,5,0
8741,1,6,6,10,1,4,6
8742,1,0,0,7,4,4,0
8743,1,6,6,7,7,4,6
8744,2,2,2,9,3,3,2

In [11]:
y2=le.fit_transform(y2.astype(str))

y2

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([8, 9, 4, ..., 0, 2, 8])

In [12]:
#y2.fillna(5, inplace=True)

from sklearn.svm import SVC
svc=SVC(kernel='poly',degree=3)
svc.fit(X,y2)
print(svc.score(X,y2))

In [13]:
from sklearn.svm import SVC
svc=SVC(kernel='poly',degree=3)
svc.fit(X,y2)
print(svc.score(X,y2))

0.5262000732869183

In [14]:
y_predSVC=svc.predict(X_test)
y_predSVC = le.inverse_transform(y_predSVC)
sample = pd.read_csv("Test.csv")
sample['BiasInfluentialFactor'] = y_predSVC
#sample.drop(["customer_visit_score","customer_product_search_score","customer_ctr_score","customer_stay_score","customer_frequency_score",
 #            "customer_product_variation_score","customer_order_score","customer_affinity_score","customer_active_segment","X1"], axis = 1, inplace = True) 
sample.drop(['EmpName', 'LanguageOfCommunication', 'Age', 'Gender','JobProfileIDApplyingFor', 'HighestDegree', 'DegreeBranch',
       'GraduatingInstitute', 'LatestDegreeCGPA', 'YearsOfExperince',
       'GraduationYear', 'CurrentCTC', 'ExpectedCTC', 'MartialStatus',
       'EmpScore', 'CurrentDesignation', 'CurrentCompanyType',
       'DepartmentInCompany', 'TotalLeavesTaken'], axis = 1, inplace = True) 



sample.to_csv('Re.csv', header=True, index=False)

In [15]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X,y1)

LinearRegression()

In [16]:
y_predSVC=lin_reg.predict(X_test)
sample = pd.read_csv("Re.csv")
sample['FitmentPercent'] = y_predSVC

sample.to_csv('Predictions.csv', header=True, index=False)